/* цвета #FFFFFF
#757575
#2196F3
#212121
rgba(255, 255, 255, 0.6) 
#E5E5E5

шрифты: Raleway bolt  Roboto 400 500 700 900 
*/
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo,
.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;

  color: #000000;
}
.logo-accent {
  color: #2196f3;
}
.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-adress-link:hover,
.header-adress-link:focus,
.navigation-list-link:active,
.footer-adress-link:hover,
.footer-adress-link:focus,
.footer-adress-map:hover,
.footer-adress-map:focus {
  color: #2196f3;
}

.header-adress-link,
.footer-adress-map,
.footer-adress-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: #2196f3;
}

.properties-item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.properties-item-text {
  font-weight: normal;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;
}
.work-title,
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
}

.footer {
  background-color: #2f303a;
}
.footer-adress-map {
  color: #ffffff;
  letter-spacing: 0.03em;
}
.footer-adress-link {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.footer-logo {
  color: #ffffff;
}
.footer-adress-map,
.footer-adress-link {
  line-height: 1.71;
}
